* {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
}
body {
    background: linear-gradient(black, rgb(25, 25, 25));
}
h1{
    text-shadow: black;
    text-align: center;
}
p{
    font-size: 75%;
    padding: 5%;
    justify-content: center;
    align-items: center;
    text-align: center;
}
footer{
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
}
.filaboton{
    margin: 4.2%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
a{
    text-decoration: none;
    width: 15%;
    height: 15%;
}
.boton{
    border: 5px black outset;
    margin: 0 1%;
    border-radius: 10px;
    background: radial-gradient(black, rgb(50 50 50));
    transition: border-radius 0.5s, padding 0.5s;
}
.github{
    width: 80%;
    height: 5%;
}
.boton:hover{
    border-radius: 15px;
    background: radial-gradient(black, rgb(30 30 30));
    padding: 5%;
    transition: border-radius 0.5s, padding 0.5s;
}
.boton:active{
    background: radial-gradient(red, rgb(170, 0, 0));
}
.test{
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
}
