* {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
}
body {
    justify-content: center;
    align-items: center;
    background: linear-gradient(black, rgb(25, 25, 25));
    height: 95vh;
}
h1{
    text-shadow: black;
    text-align: center;
}
h3{
    margin-left: 80%;
    margin-bottom: 10%;
    color: yellow;
    transform: rotate(-45deg);
    width: 15%;
    height: 5%;
}
p{
    font-size: 75%;
    padding: 5%;
    justify-content: center;
    align-items: center;
    text-align: center;
}
footer{
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
}
.GUI{
    justify-content: center;
    align-items: center;
    display: grid;
    grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr 1fr 1fr
}
a{
    text-decoration: none;
    transition: padding 1s;
}
a:hover{
    padding: 3%;
    transition: padding 1s;
}
.boton{
    border: 5px black outset;
    border-radius: 10px;
    background: radial-gradient(black, rgb(50 50 50));
    transition: border-radius 0.5s;
}
.github{
    width: 80%;
    height: 5%;
}
.boton:hover{
    border-radius: 15px;
    background: radial-gradient(black, rgb(30 30 30));
    transition: border-radius 0.5s;
}
.boton:active{
    background: radial-gradient(red, rgb(170, 0, 0));
}
.test{
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
}
